@import 'normalize';

@import 'bourbon';
@import 'neat';

body,
html {
  background-color: rgb(36, 165, 212);
}

body {
  font-size: 14px;
  
  @include media(min-width 360px) {
    font-size: 18px;
  }
}

.container {
  background-color: #fff;
  margin: 1rem auto;
  text-align: center;
  width: 360px;
  padding-bottom: 1rem;

  @include media(max-width 360px) {
    width: 300px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.bio {
  @at-root #{&}__picture {
    max-width: 100%;
  }
  
  @at-root #{&}__username,
           #{&}__full-name,
           #{&}__bio,
           #{&}__location {
    padding: 0;
    margin: 0;
  }
  
  @at-root #{&}__username,
           #{&}__full-name {
    font-family: 'Playfair Display', serif;
  }
  
  @at-root #{&}__bio,
           #{&}__location,
           #{&}__proofs {
    font-family: 'Fauna One', serif;
  }
  
  @at-root #{&}__username {
    font-size: 2rem;
    font-weight: normal;
  }
  
  @at-root #{&}__full-name {
    font-size: 1.8rem;
    font-weight: normal;
  }
  
  @at-root #{&}__bio {
    margin-top: 1rem;
  }
  
  @at-root #{&}__location {
    margin-bottom: 1rem;
  }
}

.proof {
  text-align: left;
  line-height: 36px;
  margin: 1rem .5rem;
  clear: both;
  
  @at-root #{&}--hackernews {
    display: none;
  }
  
  @at-root #{&}__service-url {
    text-decoration: none;
    color: #000;
  }
  
  @at-root #{&}__icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    
    @at-root #{&}--twitter {
      background-image: url(../images/twitter.svg);
    }
    
    @at-root #{&}--dns {
      background-image: url(../images/globe.svg);
    }
    
    @at-root #{&}--reddit {
      background-image: url(../images/reddit.svg);
    }
    
    @at-root #{&}--github {
      background-image: url(../images/github.svg);
    }
    
    @at-root #{&}--coinbase {
      background-image: url(../images/bitcoin.svg);
    }
  }
  
  @at-root #{&}__presentation-tag {
    color: #ccc;
  }
}
