.Bio__picture {
  max-width: 100%;
}

.Bio__username,
.Bio__full-name,
.Bio__bio,
.Bio__location {
  padding: 0;
  margin: 0;
}

.Bio__username,
.Bio__full-name {
  font-family: 'Playfair Display', serif;
}

.Bio__bio,
.Bio__location,
.Bio__proofs {
  font-family: 'Fauna One', serif;
}

.Bio__username {
  color: #ccc;
  font-size: 2rem;
  font-weight: normal;
}

.Bio__full-name {
  font-size: 1.8rem;
  font-weight: normal;
}

.Bio__bio {
  margin-top: 1rem;
}

.Bio__loation {
  margin-bottom: 1rem;
}
