.bio {
  @at-root #{&}__picture {
    max-width: 100%;
  }

  @at-root #{&}__username,
           #{&}__full-name,
           #{&}__bio,
           #{&}__location {
    padding: 0;
    margin: 0;
  }

  @at-root #{&}__username,
           #{&}__full-name {
    font-family: 'Playfair Display', serif;
  }

  @at-root #{&}__bio,
           #{&}__location,
           #{&}__proofs {
    font-family: 'Fauna One', serif;
  }

  @at-root #{&}__username {
    color: #ccc;
    font-size: 2rem;
    font-weight: normal;
  }

  @at-root #{&}__full-name {
    font-size: 1.8rem;
    font-weight: normal;
  }

  @at-root #{&}__bio {
    margin-top: 1rem;
  }

  @at-root #{&}__location {
    margin-bottom: 1rem;
  }
}
