.Proof {
  text-align: left;
  line-height: 36px;
  margin: 1rem .5rem;
  clear: both;
}

.Proof--hackernews {
  display: none;
}

.Proof__service-url {
  text-decoration: none;
  color: #000;
}

.Proof__icon {
  width: 32px;
  height: 32px;
  padding-right: 1rem;
  display: inline-block;
  vertical-align: middle;
}

.Proof__presentation-tag {
  color: #ccc;
  float: right;
}
